/* Recent Assessments */
.reporting-section .recent-assessments {
    font-size: 14px;
}

/* Progress Bar */
.progress {
  width: 80%;
  margin: auto;
}
.progress-bar {
  background: -webkit-linear-gradient(left, #fedd01 0%, #00bd4d 35%, #00bd4d 65%, #00f9ff 100%);
}

/* Progress Action */
.progressAction {
  margin-top: 10px;
}

/* API Key - Form Control */
.apiKey .form-control {
  display: inline;
}

/* IB Text Colours */
body .ib-green {
  color: #00bd4d;
}
body.dark-theme .ib-black {
  color: #fff;
}
body.light-theme .ib-black {
  color: #11101d;
}

/* Loading Icons */
.tar-loading-icon,
.sag-loading-icon {
  display: none;
  margin-top: 10px;
  text-align: center;
}

.tar-loading-div,
.sag-loading-div {
  display: none;
}