/* Recent Assessments */
.reporting-section .recent-assessments {
    font-size: 14px;
}

/* Progress Bar */
.progress {
  width: 80%;
  margin: auto;
}
.progress-bar {
  background: -webkit-linear-gradient(left, #fedd01 0%, #00bd4d 35%, #00bd4d 65%, #00f9ff 100%);
}

/* Progress Action */
.progressAction {
  margin-top: 10px;
}

/* API Key - Form Control */
.apiKey .form-control {
  display: inline;
}

/* IB Text Colours */
body .ib-green {
  color: #00bd4d;
}
body.dark-theme .ib-black {
  color: #fff;
}
body.light-theme .ib-black {
  color: #11101d;
}

/* Loading Icons */
.tar-loading-icon,
.sag-loading-icon,
.cag-loading-icon {
  display: none;
  margin-top: 10px;
  text-align: center;
}

.tar-loading-div,
.sag-loading-div,
.cag-loading-div {
  display: none;
}


/* DNS Toolbox */
#responseArea, #domain-container, #port-container, #submit-container {
  width: 100%;
  display: block;
  clear: both;
}
[class*="responseRow"] {
  width: 100%;
  margin-top: 40px;
}
[class*="responseRow"] table {
  background-color: #ccc;
  margin: 10px;
  width: 100%;
  border-radius: 10px;
}

[class*="responseRow"] table tr td {
  background-color: #ccc;
  padding: 5px;
}

body.dark-theme [class*="responseRow"] table tr:nth-child(1n) td {
  background-color: #383737;
}

body.dark-theme [class*="responseRow"] table tr:nth-child(2n) td {
  background-color: #666565;
}

[class*="responseRow"] table tr:nth-child(1n) td {
  background-color: #FFF;
}

[class*="responseRow"] table tr:nth-child(2n) td {
  background-color: #eee;
}

.twoCol:first-child td:first-child {
  border-top-left-radius: 10px;
}

.twoCol:first-child td:last-child {
  border-top-right-radius: 10px;
}

.twoCol:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.twoCol:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.oneCol:last-child td {
  border-radius: 0 0 10px 10px;
}

#dnsToolboxHelpTable {
  width: 100%;
  border: 0;
}

#dnsToolboxHelpTable .thead {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 10px 10px 0 0;
}

#dnsToolboxHelpTable td {
  padding: 5px;
  text-align: left;
}

#dnsToolboxHelpTable .left-row {
  width: 60px;
}

#dnsToolboxHelpTable .last-row {
  height: 1em;
  background-color: white !important;
}

.logo-style1 {
  color:#63b706;
  font-weight: bold;
}

footer {
  padding-top: 50px;
}

.icons {
color: #63b706;
}
